{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    

    <link rel="stylesheet" type="text/css" href='{% static "css/headerAndfooter.css" %}?1.0' media="all">
    
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<header>
    {% block h3 %}
    <h3 style="margin-bottom: 10px;" class="title">TRAILERNEMA</h3>
    {% endblock %}
    <nav class="navbar bg-light">
      <div class="container-fluid">
        <form class="d-flex" role="search" method="GET" action="/searchpageresult/">
          <input class="form-control" type="search" name="search" placeholder="Search" aria-label="Search">
          <button class="btn" type="submit" ><img class="img-btn" src='{% static "images/search.png" %}' alt=""></button>
        </form>
      </div>
    </nav>
    <ul id="bar">
        <li><a href="{% url 'trailerspage' %}"> Home</a></li>
        <li><a href="{% url 'Romance'%}" >Romance</a></li>
        <li><a href="{% url 'Action' %}">Action</a></li>
        <li><a href="{% url 'Fantasy' %}">Fantasy</a></li>
        <li><a href="{% url 'Suspense' %}">Suspense</a></li>
    </ul>


</header>
<body>
    {%block content %}



    {% endblock %}

</body>
<footer>
    <div class="container_footer">
      <div class="content-footer">
        <h4>GMAIL</h4>
        <p>christalperez0@gmail.com</p>
      </div>
      <div class="content-footer">
        <h4>PHONE</h4>
        <p></p>
      </div>
      <div class="content-footer">
        <h4>LOCATION</h4>
        <p>Republica Dominicana</p>
      </div>
    </div>
    <h2 class="last-titule">&copy; Christal developer | Christal Perez</h2>
  </footer>
</html>